<footer class="footer">
  <div class="container">
    <div class="copyright typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
    <div class="social-links">
          <a class="icon" href="https://github.com/{{ site.github_username }}" target="_blank">
            <img src="../assets/github_icon.svg" alt="GitHub Icon">
          </a>
          <a class="icon" href="https://x.com/{{ site.twitter_username }}" target="_blank">
            <img src="../assets/x_icon.svg" alt="Twitter Icon">
          </a>
          <a class="icon" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <img src="../assets/linkedin_icon.svg" alt="LinkedIn Icon">
          </a>
      </div>
  </div>
</footer>
